.buttonSign {
    appearance: none;
    border: 1.5px var(--light-gray) solid;
    background-color: var(--lightest-gray);
    color: var(--fg);
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    width: 20rem;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    transition: background-color 1s ease;
}

.buttonSign:hover {
    background-color: var(--lighter-gray);
}

.headingMd {
    font-weight: 600;
}
